.BotSpecs-container {
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    align-items: center;

}

button {
    padding: 8px;
    background-color: #333;
    border-radius: 15px;
    width: 80px;
    height: auto;
    align-items: center;
}

.backbtn {
    margin-left: 20px;

}

.backbtn:hover,
.enlistbtn:hover {
    background-color: red;
}

.enlistlink,
.backlink {
    text-decoration: none;
    color: white;
}