.BotSpecs-container {
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    align-items: center;

}

button {
    height: 40px;
    width: auto;
    padding: 6px;
    background-color: #333;
    color: white;
    border-radius: 20px;
}

.backbtn {
    margin-left: 20px;

}
.backbtn:hover,
.enlistbtn:hover{
    background-color: red;
}