.BotSpecs-container {
    display: flex;
    flex-direction: row;

}

.botlist-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botlist-item {
    width: 350px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;

}